/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


  /*  */

  :root {
    --toggle-height: 285px;
    --sidebar-animation-time: 300ms;
    --sidebar-animation-function: cubic-bezier(1,0,0,1);
    --messageBlock-font-color: #444250;
  }


  /* ================= */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


  body {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #8370F4;
    font-family: 'Roboto', arial;

    transition: ease-in-out background-color 600ms;
  }


  /* ----------- */
  /* COLOR-BLOCK */
  /* ----------- */

  .color-block {
    min-width: 11.5rem;
    min-height: 11.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.75em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 11rem; 
    margin-bottom: auto;
    will-change: transform;    
  }

  .color-block-animation {
    animation: color-block-rotation 600ms ease-in-out 1;
  }

  .color {
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    background-color: #8370F4;
    transition: ease-in-out background-color 600ms;
  }

  @keyframes color-block-rotation {
        100%{
          transform: rotate(360deg);
        }
  }





  /*----------*/
  /*-COPY-ADD-*/
  /*----------*/

  .container-copy-add {
    width: 11.5rem; 
    height: 3.45rem;
    background-color: white;
    display: flex;
    

    border-radius: 0.5em;
    border: 2px solid black;

    margin-bottom: 1.5rem;
  }

  .copy-add-button{
    flex: 0 1 50%;
      display:flex;
      justify-content: center;
      align-items: center;

    background: none;
  }

  .copy-add-button:active {
    background: yellow;
  }

  .copy {
    border-right: 2px solid black;
    border-radius: 0.5em 0 0 0.5em;
    font-size: 1.2rem;
  }

  .add {
    border-radius: 0 0.5em 0.5em 0;
    font-size: 1.5rem;
  }

  .fa-check{
    font-size: 1.2rem;
  }
  
  
  /* ------ */
  /* BUTTON */
  /* ------ */

  button {
    outline: none;
    background: white;
    border:none;
  }

  button:hover {
    cursor: pointer;
  }

  .button-generator {
    width:80%;
    max-width: 800px;
    height: 4.8rem;
    margin-bottom: 3em;
    border-radius: 0.4em;
    position: relative;
    
    font-weight: 700;
    font-size: 1.2rem;
    color: #1e2731;
    letter-spacing: 1px;
  }

  .button-generator::after {
    content: "";
    position:absolute;
    width:100%;
    height: 100%;
    bottom: -8%;
    left: 0%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: inherit;
  }
  


  /* SHELTER */
  /* SHELTER */
  /* SHELTER */
  
  .toggle {
    height: var(--toggle-height);
    width: 24px;
    background-color: white;

    position: absolute;
    z-index: 101;
    top:50%;
    transform:  translateY(-50%) ;
    right: 0%;

    transition: all var(--sidebar-animation-time) var(--sidebar-animation-function);

    border-radius: 1em 0 0 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  }

  .toggle-jump {
    animation: toggle-jump 350ms ease-out 1;
  }

  @keyframes toggle-jump {
    40%,70%{
    transform: translateY(-50%) scale(1.1);
    }
  }

  .toggle-hidden {
    transform: translateY(-50%) translateX(24px);
  }

  .arrow-icon-toggle {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
  }

  .ACTIVE-arrow-icon-toggle{
    transform: rotateY(180deg) translateX(50%) translateY(-50%);
  }

  .sidebar {
    height: 60%;
    min-width: 110px;
    padding: 0 0.8rem;
    border-radius: 1rem 0 0 1rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    will-change: transform;

    position: absolute;
    z-index: 102;
    top:50%;
    right: 0%;

    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform:  translateY(-50%);

    transition: all var(--sidebar-animation-time) var(--sidebar-animation-function);
  }

  .sidebar-hidden {
    opacity: 0;
    -moz-transform: translateY(-50%) translateX(100%);
    -ms-transform: translateY(-50%) translateX(100%);
    -webkit-transform: translateY(-50%) translateX(100%);
    transform: translateY(-50%) translateX(100%);
  }

  .sidebar-range {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -25px);

    color:white;
    font-weight: 700;
    font-size: 0.9rem;
  }

  .scrollable-flex {
    height: 100%;
    width: 100%;

    overscroll-behavior: contain;
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);
  }

  .scrollable-flex::-webkit-scrollbar {
    display: none;
}

  .block-outer {
    width: 18vw;
    min-height: 18vw;
    padding: 0.4rem;
    padding: 8%;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  }

  .block-outer-active {
    animation: 1s ease-in-out block-rotate 1;
  }

  .block-outer:last-child {margin-bottom: 0;}

  .block-inner {
    background-color: #70caf4;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }


  /* BG-DIMM */
  /* BG-DIMM */
  /* BG-DIMM */

  .bg-dimm {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
    transition: background var(--sidebar-animation-time) var(--sidebar-animation-function);
    pointer-events: none;
  }

  .bg-dimm-active {
    background: rgba(0, 0, 0, 0.65);
    pointer-events: all;
  }


  /* POP-UP */
  /* POP-UP */
  /* POP-UP */

  .pop-up-message {
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    background-color: white;
    padding: 0 1rem;
    opacity: 0;
    pointer-events: none;

    position: absolute;
    z-index: 150;
    left: 50%;
    transform: translate(-50%, 40px);

    display: flex;
    align-items: center;

    color: #4e4c54;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    font-weight: 500;

  }

  .pop-up-message-active {
    animation: 1.4s pop-up-animation ease-in-out;
  }

  .pop-up-message span::selection {
    background-color: white;
  }
  

  @keyframes pop-up-animation {
    40%,70%{
      opacity: 1;
      transform: translate(-50%, 50px);
    }
  }

  .pop-up-message-color-box {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #F04444;
    border-radius: 100%;

    margin-right: 0.6rem;

  }

  .messageBlock {
    width: 8.2rem;
    height: 2.5rem;
    background: white;
    color: var(--messageBlock-font-color);
    font-size: 1rem;
    border-radius: 0.6em;

  }

  .copyAPI {
    visibility: hidden;
    position: absolute;
  }

  .removal-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    opacity: 25%;
    border-radius: 100%;
    width: 10px;
    height: 10px;

    visibility: hidden;
    transform-origin: 50% 50%;
  }

  .animation-removal {
    visibility: visible;
    animation: removal 500ms linear 50ms 1;
  }
  
  @keyframes removal {
    100%{
      transform: scale(12);
    }    
  }

  .notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  .trash {
    position: absolute;
    left: 7%;
    top: 40px;
    font-size: 1rem;
    color: rgb(72, 72, 72);
    background-color: white;
    padding: 0.7em;
    box-sizing: border-box;
    border-radius: 0.3em;
    z-index: 1000;
  }

  .trash-hidden {
    opacity: 0;
  }

  .copy, .add {
    color: black;
  }



  /* IN-PROGRESS */
  /* IN-PROGRESS */
  /* IN-PROGRESS */
  /* IN-PROGRESS */
  /* IN-PROGRESS */

  

  @media screen and (min-width: 680px){
    .button-generator {
      width: 60%;
      font-size: 1.5em;
    }

    .copy, .add{
      font-size: 1.5em;
    }

    .container-copy-add { 
      width: 14rem; 
      height: 4rem;
    }

    
    .color-block {
      margin-top: 15rem;
      min-width: 15rem;
      min-height: 15rem;
    }

    .scrollable-flex {
      padding: 1rem 1.5rem;
    }

    .removal-block {
      width: 30px;
      height: 30px;
    }

    .trash {
      font-size: 1.8rem;
    }

    .toggle {
      width: 36px;
    }

    .arrow-icon-toggle{
      transform: scale(1.2) translateX(-50%) translateY(-50%);
    }

    .ACTIVE-arrow-icon-toggle{
      transform: scale(1.2) rotateY(180deg) translateX(50%) translateY(-50%);
    }

    .pop-up-message {
      width: 11.5rem;
      height: 3.6rem;
      font-size: 1.4rem;
    }

    .pop-up-message-color-box {
      width: 2rem;
      height: 2rem;
    }

  }

  @media screen and (min-width: 680px) and (orientation: landscape){
    .color-block {
      margin-top: 10rem;
    }
  }


  @media screen and (min-width: 1280px){
    .color-block {
      margin-top: 12rem;
    }

    .button-generator{
      height: 6rem;
    }

    .add,.copy{
      font-size: 1.7rem;
    }
    
    .container-copy-add { 
      width: 16rem; 
      height: 4.2rem;
    }

    .sidebar{
      max-width: 500px;
      height: 50%;
    }

    .scrollable-flex {
      overscroll-behavior: contain;
      display: grid;
      gap: 1rem;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .block-outer {
      padding: 0.5em;
      width: 100px;
      height: 100px;
      margin-bottom: 0.5rem;
    }
    .block-outer:last-child{
      margin-right: none;
    }
    
    

  }

  @media screen and (max-height: 700px) {
    .color-block {
      margin-top: 8rem;
    }
}

@media screen and (min-width: 480px){
  .button-generator {
    width: 70%;
  }
}

  